Before you turn this problem in, make sure everything runs as expected. First, **restart the kernel** (in the menu bar, select Kernel$\rightarrow$Restart) and then **run all cells** (in the menu bar, select Cell$\rightarrow$Run All).

Make sure that in addition to the code, you provide written answers for all questions of the assignment. 

Below, please fill in your name and collaborators:

In [89]:
NAME = "Bobbie Williams"

## Assignment 2 - Data Analysis using Pandas
**(15 points total)**

For this assignment, we will analyze the open dataset with data on the passengers aboard the Titanic.

The data file for this assignment can be downloaded from Kaggle website: https://www.kaggle.com/c/titanic/data, file `train.csv`. The definition of all variables can be found on the same Kaggle page, in the Data Dictionary section.

Read the data from the file into pandas DataFrame. Analyze, clean and transform the data to answer the following question: 

**What categories of passengers were most likely to survive the Titanic disaster?**

**Question 1.**  _(20 points)_
* The answer to the main question - What categories of passengers were most likely to survive the Titanic disaster? Conduct a detailed analysis to identify which passengers were most likely to survive. _(15 points)_
* The detailed explanation of the logic of the analysis _(5 points)_

**Question 2.**  _(5 points)_
* What attributes did you use for the analysis? Explain how you used them and why you decided to use them. 
* Provide a complete list of all attributes used.

**Question 3.**  _(5 points)_
* Were there any missing values? How did they impact your analysis? Consider dropping the rows with missing values using the drop() function. Did your findings change?

In [90]:
import pandas as pd 
titanic_df = pd.read_csv('/Users/bobbiewilliams/Desktop/Uoft/Python 1/train.csv')
titanic_df.head()
titanic_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [91]:
# Step 1 - I'm going to figure out the survival 
titanic_df.groupby('Sex')['Survived'].sum()

Sex
female    233
male      109
Name: Survived, dtype: int64

In [92]:
#Step 2 - What is my population
titanic_df.groupby('Sex')['PassengerId'].count()

Sex
female    314
male      577
Name: PassengerId, dtype: int64

In [93]:
#Step 3 Calculate Survival Rate 
titanic_df.groupby('Sex')['Survived'].sum()/titanic_df.groupby('Sex')['PassengerId'].count()*100

Sex
female    74.203822
male      18.890815
dtype: float64

In [94]:
#Step 4 Calculate P Class 
titanic_df.groupby('Pclass')['Survived'].sum()

Pclass
1    136
2     87
3    119
Name: Survived, dtype: int64

In [95]:
#Step 5 Calculate P Class count 
titanic_df.groupby('Pclass')['PassengerId'].count()

Pclass
1    216
2    184
3    491
Name: PassengerId, dtype: int64

In [96]:
#Calculate the survival rate for Pclass 
titanic_df.groupby('Pclass')['Survived'].sum() / titanic_df.groupby('Pclass').size() * 100
#The higher your ticket class the better chance of survival

Pclass
1    62.962963
2    47.282609
3    24.236253
dtype: float64

In [97]:
#Where going to look at age but I'm going to put into buckets 
titanic_df['AgeGroup'] = pd.cut(titanic_df['Age'],
                       bins=[0, 12, 18, 100], 
                        labels=['Child (0-12)', 'Teen (13-18)', 'Adult (18+)'])
titanic_df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,AgeGroup
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,Adult (18+)
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,Adult (18+)
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,Adult (18+)
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,Adult (18+)
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,Adult (18+)

In [98]:
#AGE 
titanic_df.groupby('AgeGroup')['Survived'].sum()

/var/folders/5l/c5dpn99j1y52kz5k9knnbsdr0000gn/T/ipykernel_10829/3870274221.py:2: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  titanic_df.groupby('AgeGroup')['Survived'].sum()

AgeGroup
Child (0-12)     40
Teen (13-18)     30
Adult (18+)     220
Name: Survived, dtype: int64

In [99]:
#Step 2 Count total passengers in each age group:
titanic_df.groupby('AgeGroup').size()

/var/folders/5l/c5dpn99j1y52kz5k9knnbsdr0000gn/T/ipykernel_10829/1804811928.py:2: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  titanic_df.groupby('AgeGroup').size()

AgeGroup
Child (0-12)     69
Teen (13-18)     70
Adult (18+)     575
dtype: int64

In [100]:
# Calculate the survival rate percentage:
titanic_df.groupby('AgeGroup')['Survived'].sum() / titanic_df.groupby('AgeGroup').size() * 100

/var/folders/5l/c5dpn99j1y52kz5k9knnbsdr0000gn/T/ipykernel_10829/1372081577.py:2: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  titanic_df.groupby('AgeGroup')['Survived'].sum() / titanic_df.groupby('AgeGroup').size() * 100

AgeGroup
Child (0-12)    57.971014
Teen (13-18)    42.857143
Adult (18+)     38.260870
dtype: float64

In [101]:
#Family - Creating a column ombining sibling, family size and number of parents 
titanic_df['FamilySize'] = titanic_df['SibSp'] + titanic_df['Parch']
titanic_df[['SibSp', 'Parch', 'FamilySize']].head(10)

   SibSp  Parch  FamilySize
0      1      0           1
1      1      0           1
2      0      0           0
3      1      0           1
4      0      0           0
5      0      0           0
6      0      0           0
7      3      1           4
8      0      2           2
9      1      0           1

In [102]:
#Now were going to get the sum of the family that survived and survival rate 
titanic_df.groupby('FamilySize')['Survived'].sum()
#Counting total number of passengers in each family 
titanic_df.groupby('FamilySize').size()
#survival rate
titanic_df.groupby('FamilySize', observed=True)['Survived'].mean() * 100

#Finding -families of 2-3 people had the BEST survival rate (72%!). But larger families (4+) had much lower rates.
#And people traveling alone (0) had low rates too of 30.35%.

FamilySize
0     30.353818
1     55.279503
2     57.843137
3     72.413793
4     20.000000
5     13.636364
6     33.333333
7      0.000000
10     0.000000
Name: Survived, dtype: float64

In [103]:
#I'm going to check the survival rate for people travelling with zero family to compare 
titanic_df['TravelingAlone'] = titanic_df['FamilySize'] == 0
titanic_df[['FamilySize', 'TravelingAlone']].head(10)

   FamilySize  TravelingAlone
0           1           False
1           1           False
2           0            True
3           1           False
4           0            True
5           0            True
6           0            True
7           4           False
8           2           False
9           1           False

In [104]:
titanic_df['TravelingAlone'].value_counts()

TravelingAlone
True     537
False    354
Name: count, dtype: int64

In [105]:
titanic_df.groupby('TravelingAlone', observed=True)['Survived'].mean() * 100

TravelingAlone
False    50.564972
True     30.353818
Name: Survived, dtype: float64

In [106]:
#I noticed a pattern so we're going to analyze female and class together and see the survival rate
titanic_df.groupby(['Sex', 'Pclass'])['Survived'].mean() * 100

Sex     Pclass
female  1         96.808511
        2         92.105263
        3         50.000000
male    1         36.885246
        2         15.740741
        3         13.544669
Name: Survived, dtype: float64

In [107]:
#Before finishing Q1 we're going to find the null values. We're going to clean and remove rows with missing values 
titanic_df.isnull().sum()

PassengerId         0
Survived            0
Pclass              0
Name                0
Sex                 0
Age               177
SibSp               0
Parch               0
Ticket              0
Fare                0
Cabin             687
Embarked            2
AgeGroup          177
FamilySize          0
TravelingAlone      0
dtype: int64

In [108]:
#We're going to clean and remove rows with missing values 
titanic_df_clean = titanic_df.dropna()
print("Before cleaning:", len(titanic_df))
print("After cleaning:", len(titanic_df_clean))

Before cleaning: 891
After cleaning: 183

In [109]:
#See what the survival rate is after cleaning 
titanic_df_clean.groupby(['Sex', 'Pclass'])['Survived'].mean() * 100

Sex     Pclass
female  1         95.945946
        2         88.888889
        3         60.000000
male    1         41.666667
        2         66.666667
        3         40.000000
Name: Survived, dtype: float64

In [110]:
#Question 1 Findings
#The passengers most likely to survive were: females, especially those in 1st and 2nd class 96.8% and 92.1% survival rates respectively; children aged 0-12 57.97% survival rate; and passengers traveling with family members 50.6% survival rate.More specifically and passengers traveling with small family groups (2-3 people). 
#In contrast,passengers who were male, in 3rd class 13.5% survival rate for males, adults 38.3% survival rate, or traveling alone 30.4% survival rate had much lower survival rates.)

#There are 891 titanic passengers and the categories that influenced the survival rate as follows: 
# Gender 
#Female 1st Class: 96.8% survival rate
#Female 2nd Class: 92.1% survival rate
#Female 3rd Class: 50.0% survival rate
#Male 1st Class: 36.9% survival rate
#Male 2nd Class: 15.7% survival rate
#Male 3rd Class: 13.5% survival rate

#Age 
#Children (0-12 years): 57.97% survival rate
#Teenagers (13-18 years): 42.86% survival rate
#Adults (18+ years): 38.26% survival rate

#Family Dynamics
#Traveling with Family: 50.6% survival rate
#Traveling Alone: 30.4% survival rate

#Families VS Solo Travellers 
#Families of 2-3 people: 57-72% survival rate (best)
#Families of 4+ people: 0-20% survival rate (worst)
#Solo travelers: 30% survival rate

In [111]:
#Question 2 
# Why : I chose the following attributes below they demonstrated demographics and social status and you can tell from the data how that impacts the survival rate. 
# This data can also give a understanding of what passengers were priortized when evacuation.

# Following Demographics/Attributes
# Survived - Showing the rate whether if each passenger survived 
# Sex - Compared the survival rates between genders and discovered that females has 3.5x higher survival rate 
# Pclass - I used this to analyzed how passenger class affected the survival rate and 62% had a higher survival rate compared to the other classes 
# AgeGroup - I created this by grouping ages into three categories: Child (0-12), Teen (13-18), and Adult (18+). This helped identify clear survival patterns by age.
# FamilySize - I created this by adding SibSp + Parch to get total family members traveling together. This revealed that small family groups (2-3 people) had better survival chances.
# Traveling Alone - I created this as a True/False indicator based on FamilySize (True if alone, False if with family). This showed that traveling with family increased survival chances by 20 percentage points.
# SibSp - Number of siblings/spouses aboard. I combined this with Parch to create FamilySize.
# Parch - Number of parents/children aboard. I combined this with SibSp to create FamilySize.

In [112]:
#Question 3 - Missing values and how it impacted my analysis 
#Summary here was my findings of missing values in data set
#Age:       177 missing /891 passengers)
#Cabin:     687 missing / 891 passengers)
#Embarked:  2 missing / 891 passengers)
#AgeGroup:  177 missing - inherited from Age

#Impact on Analysis - I used dropna()- to drop all the missing rows 
#Passengers the before and after cleaning 

#Before cleaning: 891 passengers.After cleaning: 183 passengers. 
#Rows removed: 708 passengers (79% of data)

#Genders by Pclasses Before and after cleaning 
#Female 1st Class: 96.8% -> 95.9% (minimal change)
#Female 2nd Class: 92.1% -> 88.9% (minimal change)
#Female 3rd Class: 50.0% -> 60.0% (slight increase)


#Male 1st Class: 36.9% -> 41.7% (slight increase)
#Male 2nd Class: 15.7% -> 66.7% (major change)
#Male 3rd Class: 13.5% -> 40.0% (significant increase)

#Conclusion
#The missing values did impact the analysis, particularly for male passengers in 2nd and 3rd class change seen above. 
#The changes suggest that passengers with missing Cabin data had different survival patterns than those with complete data.
# The analysis using all 891 passengers is more reliable because it includes a larger sample size and represents all passengers, in comparison to those with complete cabin information.
#However, both findings showes that female passengers in higher classes had a higher survival rate.